$color1: #FFFFFF;
$color2: #F5F5F5;
$color3: #000000;
$color4: #AFDCD1;
$color5: #1C1C1C;
$color6: #414141;
$color7: #949393;

$fontPlayfair: 'Playfair Display', serif;
$fontOpenSans: 'Open Sans', sans-serif;
$fontTimes: 'Times New Roman';