.objects{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 290px);
  margin-bottom: 60px;
  @media (max-width: 1280px) {
    grid-template-columns: repeat(3, 290px);
    justify-content: space-around;
  }

  @media (max-width: 990px) {
    grid-template-columns: repeat(2, 290px);
  }

  @media (max-width: 630px) {
    grid-template-columns: 290px;
  }
}